[submodule "LocalDPIExt/hev-socks5-tunnel"]
	path = LocalDPIExt/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel.git
	branch = main
[submodule "LocalDPIExt/byedpi"]
	path = LocalDPIExt/byedpi
	url = https://github.com/hufrea/byedpi.git
	branch = main
